body {
	font-family: helvetica, sans-serif;
	font-size: medium;
	margin: 0;
}
#main {
	background-color: #add8e6;
	margin: 30px 10px;
	padding: 20px;
	text-align: center;
	border-radius: 5px;
}

#title {
	font-size: 3.5rem;
	padding-top: 30px;
	margin: 0;
	vertical-align: middle;
}

#famous_quote {
	font-style: italic;
	margin: 8px auto;
}

figure {
	background-color: white;
	margin: 0;
	padding: 10px;
	border-radius: 5px;
}

#image {
	max-width: 100%;
	height: auto;
	border-radius: 5px;
	display: block;
	margin: auto;
}

#img-caption {
	padding-top: 5px;
}

#tribute-info {
	max-width: 600px;
	text-align: left;
	margin: auto;
	font-size: 1rem;
}

#text-heading {
	text-align: center;
	margin: 50px;
}

#tribute-info article header h3 {
	margin-bottom: 4px;
	text-decoration: underline;
}

#tribute-info article p {
	margin-top: 0;
	padding: 3px 0;
}

#footer {
	padding: 20px 40px 0 40px;
}

#footer h2 {
	margin-bottom: 0px;
}

#tribute-link:link {
  /*color:            #b76666;*/
  color: #0c8ab3;
  text-decoration:  none;
  border-bottom:    thin dotted #0c8ab3;
}
#tribute-link:visited {
  /*color:            #675c47;*/
  color: #0c8ab3;
  text-decoration:  none;
  border-bottom:    thin dotted #0c8ab3;
}